.DateInput {
  width: 45%;
  border-right: 1px solid #eee;
}

.DateInput_input {
  height: 50px;
  padding: 0 10px;
  border: none;
  font-size: 1.6rem;
  line-height: 48px;
  cursor: pointer;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  width: 100%;
}

.DateRangePickerInput_arrow ~ .DateInput {
  border-right: none;
  border-left: 1px solid #eee;
}

.DateRangePickerInput__disabled {
  background: #fff;
}

.DateInput_input__disabled {
  cursor: not-allowed;
}
.DateRangePickerInput_arrow {
  width: 10%;
  text-align: center;
}

/* DateRangePicker_picker */
.DateInput_fang {
  top: 56px !important;
}

.openStartDate .DateRangePicker_picker {
  left: 0 !important;
  right: auto !important;
}

.openEndDate .DateRangePicker_picker {
  left: auto !important;
  right: 0 !important;
}

.openEndDate .DateInput_fang {
  right: 22px !important;
  left: auto !important;
}

/* Mobile */
@media all and (max-width: 768px) {
  .DateInput {
    width: 42%;
  }

  .DateRangePickerInput_arrow {
    width: 16%;
  }
}
@media all and (max-width: 450px) {
  .openStartDate .DateRangePicker_picker {
    left: 50%  !important;
    transform: translateX(-50%);
    right: auto !important;
  }

  .openEndDate .DateRangePicker_picker {
    left: 50% !important;
    transform: translateX(-50%);
    right: auto !important;
  }
}