.DateInput {
  width: 45%;
  border-right: 1px solid #eee;
}

.DateInput_input {
  height: 50px;
  padding: 0 10px;
  border: none;
  font-size: 1.6rem;
  line-height: 48px;
  cursor: pointer;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  width: 100%;
}

.DateRangePickerInput_arrow ~ .DateInput {
  border-right: none;
  border-left: 1px solid #eee;
}

.DateRangePickerInput__disabled {
  background: #fff;
}

.DateInput_input__disabled {
  cursor: not-allowed;
}
.DateRangePickerInput_arrow {
  width: 10%;
  text-align: center;
}